.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0px 140px;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 30px;
  margin-top: 5px;
}

.navbar-logo {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-top: -2px;
}

.navbar-title {
  font-size: 15px !important;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .navbar {
    padding: 0px 80px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0px 20px;
  }
}

.navbar-right {
  display: flex;
  gap: 15px;
  padding-left: 70px;
}

@media (max-width: 768px) {
  .navbar-right {
    padding-left: 10px;
    gap: 10px;
  }
}

.navbar-right .btn {
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #7ea6ff;

  transition: all 0.3s ease;
}

.navbar-right .btn-transparent {
  background-color: transparent;
  border: 1px solid #6a97f9;
  margin-right: -70px !important;
}

.navbar-right .btn-transparent:hover {
  background-color: #ffff;
  color: black;
}

.navbar-right .btn-blue {
  background-color: #1a5fff;
  border: none;
  color: #ffff;
  margin-right: 20px;
}

.navbar-right .btn-blue:hover {
  background-color: #ffff;
  color: black;
}

@media (max-width: 480px) {
  .navbar {
    padding: 0 5px;
    width: 100%;
    overflow-x: hidden;
    justify-content: space-between;
  }

  .navbar-left {
    margin-left: 2px;
    gap: 3px;
  }

  .navbar-logo {
    width: 20px;
    height: 20px;
  }

  .navbar-title {
    font-size: 12px !important;
  }

  .navbar-right {
    padding-left: 2px;
    gap: 5px;
    margin-right: 5px;
    flex-shrink: 0;
  }

  .navbar-right .btn {
    padding: 4px 8px;
    font-size: 10px;
    white-space: nowrap;
    min-width: fit-content;
  }

  .navbar-right .btn-transparent {
    margin-right: -65px !important;
  }

  .navbar-right .btn-blue {
    margin-right: 5px;
  }
}
