body {
  background-color: #111;
  font-family: Arial, sans-serif;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 50px 0 !important;
}

.settings-form {
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
}

.input-container {
  display: flex;
  align-items: center; /* Vertically center-align items */
  justify-content: space-between; /* Distribute items equally */
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 3px 15px; /* Add padding for better spacing */
  margin-bottom: 15px;
}

.input-icon, .toggle-icon {
  flex-shrink: 0; /* Prevent icons from resizing */
  width: 20px;
  height: 20px; /* Ensure consistent icon size */
  display: flex;
  align-items: center; /* Center-align icon vertically */
  justify-content: center; /* Center-align icon horizontally */
  cursor: pointer;
}

.text-input {
  flex: 1; /* Take up remaining space */
  background: none;
  border: none;
  outline: none;
  color: #fff;
  margin-bottom: -3px;
}


.toggle-icon {
  width: 20px;
  cursor: pointer;
}

.update {
  cursor: pointer;
  background-color: #1A5FFF;
  border-radius: 25px;
  height:40px;
  width: 400px;
  color: #fff;
  margin-top: 10px;
  font-weight: 600;
}

.alert {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
}

.alert.error {
  background-color: transparent;
  color: #f40820;
}

.alert.success {
  background-color: #d4edda;
  color: #155724;
}


.logout-section button {
  background-color: transparent;
  border: none;
  margin-left: -690px;
  margin-top: 180px !important;
  position: fixed;
}

.logout-section img {
  background-color: transparent;
  display: block; /* To remove any default inline behavior */
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.alert-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert-title {
  font-size: 18px;
}

.close-btn {
  background: none;
  border: none;
  color: #888;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.close-btn:hover {
  color: #333;
}

.alert-body {
  font-size: 16px;
  color: #333;
}

.alert.error {
  background-color: white;
  color: #fe041d;
}

.alert.success {
  background-color: #d4edda;
  color: #155724;
}